.tabList {
  display: flex;
  border-bottom: 1px solid var(--border);
}

.tabTrigger {
  padding: 0.5rem 1rem;
  margin-bottom: -1px;
  background: transparent;
  cursor: pointer;
  color: var(--text-secondary);
  font-weight: 500;
  border-color: transparent;
}

.tabTrigger.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);

  /* border-color: var(--accent-color); */
}

.tabContent {
  padding: 1rem;
  color: var(--text-secondary);
}
