.context {
  /* margin-top: 7rem; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  overflow-y: auto;
}
.context-body {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.products-container {
  display: flex;
  flex: 3;
  gap: 2rem;
  flex-wrap: wrap;
}

.order-title {
  font-weight: 600;
  font-size: 2rem;
}
