.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.label {
  color: var(--text-secondary);
  font-size: 1rem;
  min-width: 180px;
  width: 100%;
  white-space: nowrap;
}

.inputField {
  padding: 0 2px;
  border-radius: 0.25rem;
  gap: 0.5rem;
  outline: none;
  border: 1px solid var(--border);
  font-size: 1rem;
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
}

.input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
