.badge {
  display: inline-block;
  border-radius: 50rem;
  font-weight: 400;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: default;
  font-size: 0.75rem;
  padding: 4px 8px;
  border: 1px solid var(--border);
  /* background-color: var(--surface);
  color: var(--text-secondary); */
  box-shadow: var(--shadow);
}

/* Sizes */
.badge.small {
  font-size: 0.75rem;
  padding: 2px 6px;
}

.badge.medium {
  font-size: 0.875rem;
  padding: 4px 8px;
}

.badge.large {
  font-size: 1rem;
  padding: 6px 12px;
}

/* variants */
.badge.success {
  background-color: #f0fdf4;
  border: 1px solid var(--success);

  color: var(--success);
}

.badge.warning {
  border: 1px solid var(--warning);

  background-color: #fffbeb;
  color: var(--warning);
}

.badge.info {
  border-color: #f0f9ff;
  border: 1px solid var(--info);

  color: var(--info);
}

.badge.danger {
  background-color: #fef2f2;
  border: 1px solid var(--error);

  color: var(--error);
}

/* .badge:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
} */
