@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --primary: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.967 0.001 286.375);
  --muted: oklch(0.967 0.001 286.375);
  --border: oklch(0.92 0.004 286.32);
  --accent: oklch(0.967 0.001 286.375); */
  --background: #ffffff;
  --primary: #080801;
  --secondary: #222222;
  --muted: #6b7280;
  --border: #e4e4e6;
  --accent: #f4f4f4;
  --error: #e91e63;
  --success: #22c55e;
  --warning: #eab308;
  --info: #3b82f6;

  --success-bg: #ecfdf5;
  --success-border: #34d399;
  --success-text: #059669;

  --warning-bg: #fefce8;
  --warning-border: #fbbf24;
  --warning-text: #b45309;

  --info-bg: #eff6ff;
  --info-border: #60a5fa;
  --info-text: #2563eb;

  --neutral-bg: #f4f4f5;
  --neutral-border: #d4d4d8;
  --neutral-text: #3f3f46;

  --danger-bg: #fef2f2;
  --danger-border: #f87171;
  --danger-text: #b91c1c;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-error: var(--warning);
  --color-error: var(--info);

  --color-neutral-border: var(--neutral-border);
  --color-neutral-bg: var(--neutral-bg);
  --color-neutral-text: var(--neutral-text);

  --color-success-border: var(--success-border);
  --color-success-bg: var(--success-bg);
  --color-success-text: var(--success-text);

  --color-danger-border: var(--danger-border);
  --color-danger-bg: var(--danger-bg);
  --color-danger-text: var(--danger-text);

  --color-warning-border: var(--warning-border);
  --color-warning-bg: var(--warning-bg);
  --color-warning-text: var(--warning-text);

  --color-info-border: var(--info-border);
  --color-info-bg: var(--info-bg);
  --color-info-text: var(--info-text);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --primary: #f4f4f4;
    --secondary: #ededed;
    --muted: #9ca3af;
    --border: #2d2d2d;
    --accent: #1a1a1a;
    --error: #f87171;
  }
} */

.dark {
  /* --background: oklch(0.141 0.005 285.823);
  --primary: oklch(0.92 0.004 286.32);
  --secondary: oklch(0.274 0.006 286.033);
  --muted: oklch(0.274 0.006 286.033);
  --border: oklch(1 0 0 / 10%);
  --accent: oklch(0.274 0.006 286.033); */
  --background: #0a0a0a;
  --primary: #f4f4f4;
  --secondary: #ededed;
  --muted: #9ca3af;
  --border: #2d2d2d;
  --accent: #1a1a1a;
  --error: #f87171;
  --success: #22c55e;
  --warning: #facc15;
  --info: #3b82f6;

  --success-bg: #052e16;
  --success-border: #14532d;
  --success-text: #4ade80;

  --warning-bg: #422006;
  --warning-border: #854d0e;
  --warning-text: #facc15;

  --info-bg: #0c1d37;
  --info-border: #1e3a8a;
  --info-text: #60a5fa;

  --danger-bg: #450a0a;
  --danger-border: #7f1d1d;
  --danger-text: #f87171;

  --neutral-bg: #27272a;
  --neutral-border: #3f3f46;
  --neutral-text: #e4e4e7;

  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary-foreground: oklch(0.985 0 0);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}
body {
  color: var(--primary);
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease forwards;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
