@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --primary: #080801;
  --secondary: #222222;
  --muted: #6b7280;
  --border: #e4e4e6;
  --accent: #f4f4f4;
  --error: #e91e63;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-error: var(--error);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --primary: #f4f4f4;
    --secondary: #ededed;
    --muted: #9ca3af;
    --border: #2d2d2d;
    --accent: #1a1a1a;
    --error: #f87171;
  }
} */

.dark {
  --background: #0a0a0a;
  --primary: #f4f4f4;
  --secondary: #ededed;
  --muted: #9ca3af;
  --border: #2d2d2d;
  --accent: #1a1a1a;
  --error: #f87171;
}
body {
  background: var(--background);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
