.toggle {
  width: 50px;
  height: 25px;
  border-radius: 5rem;
  padding: 0 0.3rem;
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: center;
  background-color: #e6e9eb;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: var(--shadow);
  font-size: 0.8rem;
  /* border: 1px solid var(--border); */
}

.toggleChecked {
  background-color: #233a4f;
}

.knob {
  width: 21px;
  height: 21px;
  background-color: var(--background);
  box-shadow: var(--shadow);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.knobChecked {
  transform: translateX(25px);
}
