.App {
  position: relative;
  min-height: 100vh;
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.outlet-container {
  position: relative;
  top: 80px;  
  padding: 1rem;
  transition: all 0.3s ease;
  flex: 1 1 auto;
  min-width: 0; 
}
.main {
  /* max-width: 100vw; */
  margin: auto;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  display: flex;
  gap: 2rem;
}

.homepage {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: start;
  justify-content: center;
}

.section {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.main-title {
  font-size: 3rem;
  color: var(--text-primary);
}

.main-desc {
  font-size: 1rem;
  color: var(--text-secondary);
}

.section-heading {
  font-size: 1.5rem;
  color: var(--text-primary);
}

.section-desc {
  font-size: 0.9rem;
  color: var(--text-secondary);
}

.custom-style1 {
  background-color: var(--primary-color);
  color: #fff;
}

.custom-style2 {
  background-color: var(--accent-color);
  color: #fff;
}

.custom1 {
  color: blueviolet;
  background-color: rgb(240, 234, 245);
}

.custom2 {
  color: rgb(226, 43, 180);
  background-color: rgb(241, 226, 238);
}

@media (max-width: 1034px) {
  .outlet-container {
    margin-left: 0;
    /* max-width: 100vw; */
  }
  .main {
    max-width: 100vw;
  }
  .App {
    max-width: 100%;
  }

  .main-title {
    font-size: 1.5rem;
    color: var(--text-primary);
  }

  .main-desc {
    font-size: 0.9rem;
    color: var(--text-secondary);
  }

  .section-heading {
    font-size: 1.2rem;
    color: var(--text-primary);
  }

  .section-desc {
    font-size: 0.8rem;
    color: var(--text-secondary);
  }
}
