* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1e3a8a;
  --accent-color: #14b8a6;
  --background: #fdfdfd;
  --surface: #f9f9f9;

  --text-primary: #0a0a0a;
  --text-secondary: #6b7280;
  --border: #e5e7eb;
  --shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.2);

  /* Alerts */
  --info-bg: #f0f9ff;
  --info-border: #bae6fd;
  --info-text: #0369a1;

  --error-bg: #fef2f2;
  --error-border: #fecaca;
  --error-text: #dc2626;

  --success-bg: #f0fdf4;
  --success-border: #bbf7d0;
  --success-text: #16a34a;

  --warning-bg: #fffbeb;
  --warning-border: #fde68a;
  --warning-text: #ca8a04;

  /* Buttons & Badges */
  --primary: #0a0a0a;
  --secondary: #e5e7eb;
  --outline: #f9fafb;
  --destructive: #ef4444;
  --success: #22c55e;
  --warning: #facc15;
  --info: #3b82f6;

  /* Tables */
  --table-header-bg: #e1e1e1;
  --table-hover-bg: #f7f9fb;
  --table-alt-row-bg: #f5f6f8;
}

[data-theme="dark"] {
  --primary-color: #38bdf8;
  --accent-color: #2dd4bf;
  --background: #121212;
  --surface: #1e1e1e;
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --border: #2e2e2e;
  --shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  --shadow-md: 0 4px 8px rgba(255, 255, 255, 0.2);

  /* Alerts */
  --info-bg: #082f49;
  --info-border: #0369a1;
  --info-text: #38bdf8;

  --error-bg: #450a0a;
  --error-border: #b91c1c;
  --error-text: #f87171;

  --success-bg: #052e16;
  --success-border: #15803d;
  --success-text: #4ade80;

  --warning-bg: #422006;
  --warning-border: #ca8a04;
  --warning-text: #facc15;

  /* Buttons & Badges */
  --primary: #f9fafb;
  --secondary: #374151;
  --outline: #1f2937;
  --destructive: #dc2626;
  --success: #16a34a;
  --warning: #eab308;
  --info: #2563eb;

  /* Tables */
  --table-header-bg: #1f2937;
  /* --table-hover-bg: #434c4e;
  --table-alt-row-bg: #1a1a1a; */
  --table-hover-bg: rgb(43, 52, 63);
  --table-alt-row-bg: #252a31;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: monospace;
}
