.sidebar {
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 250px;
  border-right: 1px solid var(--border);
  padding: 1rem;
  height: calc(100vh - 80px);
  /* overflow: auto; */
  transition: all 0.3s ease;
  z-index: 900;
}

.sidebarSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebarTitle {
  color: var(--text-primary);
  text-wrap: none;
  font-weight: 600;
  font-size: 1rem;
}

.sidebarLink {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 0.8rem;
}

.sidebarLink.active {
  color: var(--text-primary);
  font-size: 0.8rem;
  font-weight: 600;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 1034px) {
  .sidebar {
    position: fixed;
    top: 80px;
    left: -250px;
    z-index: 1000;
    background-color: var(--surface);
    border-right: 1px solid var(--border);
    height: calc(100vh - 80px);
  }

  .sidebar.open {
    left: 0;
  }

  .overlay {
    display: block;
  }

  .overlay.open {
    display: block;
  }
}
