.sidebar {
  /* background-color: var(--surface); */
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 250px;
  border-right: 1px solid var(--border);
  padding: 1rem;
  height: 100%;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.sidebarSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebarTitle {
  color: var(--text-primary);

  font-weight: 600;
  font-size: 1rem;
}

.sidebarLink {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 0.8rem;
}

.sidebarLink.active {
  color: var(--text-primary);
  font-size: 0.8rem;
  font-weight: 600;
}

@media (max-width: 780px) {
  .sidebar {
    left: -250px;
  }
}
