.rjsf {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.rjsf-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.control-label {
  font-weight: 500;
}

.btn {
  font-weight: 500;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.text-danger {
  color: red;
}
