.demoCard {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #d3d0d0;
  opacity: 0.5;
  transform: translateX(0);
  transition: all 0.7s ease;
  border: 1px solid var(--border);
}

.visible.demoCard {
  opacity: 1;
  transform: translateX(40px);
}

.demoContainer {
  display: grid;
  gap: 18px;
}

.title {
  color: var(--text-primary);
}
.desc {
  color: var(--text-secondary);
}
