.buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2rem;
  font-size: 1rem;
  color: #fff;
}

.small {
  font-size: 0.8rem;
  padding: 4px;
  border-radius: 0.25rem;
}

.primary {
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-border);
  transition: 0.3s ease;
}

.primary:hover {
  background-color: var(--primary-hover-bg);
  border: 1px solid var(--primary-hover-border);
}

.secondary {
  background-color: var(--secondary-bg);
  border: 1px solid var(--secondary-border);
  transition: 0.3s ease;
}

.secondary:hover {
  background-color: var(--secondary-hover-bg);
  border: 1px solid var(--secondary-hover-border);
}

.danger {
  background-color: var(--danger-bg);
  border: 1px solid var(--danger-border);
  transition: 0.3s ease;
}

.danger:hover {
  background-color: var(--danger-hover-bg);
  border: 1px solid var(--danger-hover-border);
}
