.cart-container {
  position: relative;
  display: inline-block;
}

.cart-logo {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
}

.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 350px;
  background-color: var(--dropdown-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  display: none;
  z-index: 1000;
}

.cart-container:hover .cart-dropdown {
  display: block;
}
.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  height: 1.75rem;
  width: 1.75rem;
  color: #fff;
  background-color: #1ee9b6;
  border: 1px solid var(--dropdown-border);
  border-radius: 50%;
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-cart {
  font-size: 1rem;
}
