.tabs-component {
  border-radius: 0.5rem;
  border: 1px solid var(--card-border);
  min-height: 30vh;
  height: 100%;
  width: 100%;
  max-width: 80vw;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--card-bg);
  box-shadow: var(--shadow);
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  overflow: auto;
  padding: 0.5rem;
  border-bottom: 1px solid var(--card-border);
}

.visible {
  visibility: visible;
}

.hidden {
  display: none;
}
